@use 'variaveis';

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Avenir, sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-image: url('../images/darthvader.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: variaveis.$corSecundaria;
}

header {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;

    @media (max-width: 768px) {
        display: block;
    }

    img {
        height: 80px;
    }

    ul {
        display: flex;
    
        li {
            color: variaveis.$corPrincipal;
            font-size: 18px;
            margin-left: 40px;
            cursor: pointer;

            a {
                color: variaveis.$corPrincipal;
            }

            @media (max-width: 768px) {
                font-size: 12px;
                margin-left: 12px;
            }
        }
    }
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;

    @media (max-width: 768px) {
        justify-content: space-around;
    }

    &__content {
        width: 50%;
        height: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @media (max-width: 768px) {
            width: 100%;
            margin-bottom: 32px;
        }

        h1 {
            font-size: 70px;
            font-weight: 700;
            letter-spacing: 2px;
            color: variaveis.$corPrincipal;

            @media (max-width: 768px) {
                font-size: 20px;
                letter-spacing: 0;
                margin: 24px auto;
            }

            @media (max-width: 1023px) {
                font-size: 30px;
                letter-spacing: 0;
                margin: 24px auto;
            }
        }

        p {
            color: variaveis.$corParagrafo;
            line-height: 1.5;
            max-width: 80%;
            margin-top: 30px;
            text-align: justify;

            @media (max-width: 768px) {
                font-size: 12px;
                max-width: 100%;
                justify-content: flex-start;
            }
        }

        &__nav {
            width: 100%;
            display: flex;
            justify-content: center;

            &__button {
                color: variaveis.$corSecundaria;
                font-size: 20px;
                padding-bottom: 5px;
                border: none;
                border-bottom: 5px solid transparent;
                background: none;
                margin: 0 1vw;
                cursor: pointer;
                

                @media (max-width: 768px) {
                    font-size: 12px;
                    margin: 0 2.5vw;
                    border-bottom: 2px solid transparent;
                }

                &--is-active {
                    border-color: variaveis.$corPrincipal;
                }
            }
        }

        &__tags {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70%;
            margin-bottom: 40px;

            &__item {
                font-size: 13px;
                margin: 0 15px;
                padding: 6px 10px;
                background: variaveis.$corFundoRessalto;
                border-radius: 4px;

                @media (max-width: 768px) {
                    font-size: 10px;
                }
            }
        }
    }
}

.more {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 30px;
    right: 30px;

    @media (max-width: 768px) {
        position: relative;
        justify-content: flex-end;
        right: 15px;
    }

    img {
        width: 200px;
        height: 115px;
        object-fit: cover;
        border: 2px solid variaveis.$corPrincipal;
        cursor: pointer;
        margin: 0 10px;

        @media (max-width: 768px) {
            width: 100px;
            height: 58px;
            
        }
    }

    &__prev img,
    &__next img {
        height: 30px;
        width: 30px;
        border: none;
    }
}